{@io.quarkiverse.roq.frontmatter.runtime.model.Site site}
<header class="site-header">
  <div class="container bar">
    <a class="brand" href="{=site.url}">
      <img src="{=site.url('images/monogram.svg')}" alt="" width="36" height="36">
      <span class="brand-name">Mariekie Coetzee</span>
    </a>
    <input type="checkbox" id="nav-toggle" class="nav-toggle-input" aria-label="Toggle menu">
    <label for="nav-toggle" class="nav-toggle"><span></span></label>
    <nav class="site-nav" aria-label="Main navigation">
      <ul>
        <li><a href="{=site.url}">Home</a></li>
        <li><a href="{=site.url}#about">About</a></li>
        <li><a href="{=site.url('resume')}">Resume</a></li>
        <li><a href="{=site.url('blogs')}">Blogs</a></li>
        <li><a href="{=site.url('presentations')}">Presentations</a></li>
      </ul>
    </nav>
  </div>
</header>
